HTML CSSResult
EDIT ON
body {
  background-color: skyblue; 
}

#block { 
  background-color: pink; 
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 20px;
}

#inline { 
  background-color: lemonchiffon; 
  width: 200px;
  height: 100px;
  margin: 20px 40px;
  padding: 20px;
  display: inline-block;
}



Resources1×0.5×0.25×Rerun