.product-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.brand-name {
    margin-left: 20px;
    text-decoration: underline;
    font-weight: 600;
}

.product-name {
    margin: 10px 50px 20px 20px;
    font-size: 23px;
    font-weight: 700;
}

.product-rating-info {
    display: flex;
}

.product-info-bottom {
    display: flex;
}

.product-score {
    font-size: 50px;
}

.product-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5px;
}

.star-icons {
    display: flex;
}

.fa-star {
    width: 20px;
    height: 20px;
}

.search-result hr {
    margin-left: 15px;
    margin-bottom: 15px;
    width: 860px;
    border-top: 2px solid;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-img {
    display: flex;
    flex-direction: column;
    width: 290px;
    margin-right: 200px;
    padding-left: 120px;
    margin-bottom: 0px;
}

.product-main-img {
    width: 220px !important;
    height: 400px !important;
}

.product-sub-img {
    display: flex;
    justify-content: center;
}

.product-order-info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 100px;
}

.product-order-info div {
    margin-bottom: 0px;
}

.product-order-info-row {
    margin-top: 9px;
}

.product-order-info-row p {
    display: inline-block;
}

.product-order-info hr {
    width: 383px;
    margin: 0px;
}

.product-order-info-row .category {
    width: 100px;
    font-size: 15px;
    color: grey;
}

.order-btn {
    margin-top: 30px;
}

.model-name {
    font-weight: 600;
}

.selling-price-info,
.event-price-info,
.owner-price-info {
    display: flex;
    align-items: center;
}

.selling-price-category {
    width: 105px;
    margin-bottom: 0px;
}

.event-price-category {
    width: 105px;
    color: red;
    margin-bottom: 0px;
}

.owner-price-category {
    width: 105px;
    color: purple;
}

.selling-price {
    font-size: 25px;
    font-weight: 600;
    color: rgb(66, 65, 65);
    margin-bottom: 0px;
}

.event-price {
    font-size: 25px;
    font-weight: 600;
    color: red;
    margin-bottom: 0px;
}

.owner-price {
    font-size: 25px;
    font-weight: 600;
    color: purple;
}

.arrive-info {
    color: rgb(7, 182, 7);
}

.arrive-guide {
    font-size: 14px;
    color: rgb(63, 63, 63);
}

.arrive-guide p {
    font-size: 12px;
    margin: 0px 0px 5px 1px;
}

.order-size-btn {
    display: inline-block;
}

.order-size-btn button p {
    margin: 2px 8px 2px 8px;
}

.order-size-btn p {
    margin-left: 20px;
    margin-right: 20px;
}

.purchase {
    width: 180px;
    border: none;
    background-color: red;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.cart {
    width: 120px;
    border: none;
    background-color: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.want {
    width: 70px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.product-rating {
    display: flex;
}

.info-index {
    display: flex;
    list-style: none;
    justify-content: center;
}

.product-specific-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.specific-info-border {
    display: flex;
    justify-content: center;
}

.specific-info-border.top hr {
    margin: 0px;
    width: 860px;
    border-top: 1px solid;
}

.specific-info-border.bottom hr {
    margin: 0px;
    width: 860px;
}

.product-specific-info h4 {
    display: flex;
    justify-content: center;
    margin: 15px 790px 10px 0px;
}

.info-index li {
    margin: 10px 50px 0px 50px;
    color: grey;
    cursor: pointer;
}

.info-index .checked {
    color: black;
}

.rating-box-outer {
    display: flex;
    justify-content: center;
}

.rating-box {
    display: flex;
    justify-content: center;
    width: 860px;
    height: 200px;
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
}

.rating-str {
    display: flex;
    justify-content: center;
    margin-right: 0px;
}

.rating-box .str {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.rating-box .size {
    font-size: 15px;
    color: grey;
    margin-left: 5px;
    margin-top: 31px;
}

.rating-box .fa-star {
    margin-left: 2px;
}

.rating-box-center {
    margin-top: 30px;
}

.star-icons {
    display: flex;
    align-items: center;
}

.star-icons p {
    margin-left: 10px;
    font-size: 30px;
}

.rating-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rating-bar p {
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;
}

.good-icon {
    width: 125px !important;
    height: 130px !important;
    margin-top: 34px;
}

.rating-order {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px 0px 20px 0px;
}

.rating-order-str {
    display: flex;
    margin-bottom: 15px;
    font-size: 13px;
}

.rating-order hr {
    margin: 0px;
    width: 860px;
    border-top: 1px solid;
}

.user-rating {
    margin: 5px 0px 20px 0px;
}

.rating-line-two {
    display: flex;
}

.rating-feature {
    display: flex;
    list-style: none;
}

.rating-feature li {
    margin: 13px 10px 0px 5px;
    background-color: whitesmoke;
    border-radius: 30px;
    height: 20px;
    font-size: 13px;
}

.rating-feature li p {
    display: inline-block;
}

.user-info {
    font-size: 14px;
    color: grey;
}

.rating-text p {
    font-size: 14px;
}

.rating-text hr {
    margin: 0px;
    width: 860px;
    border-bottom: thin;
}

.page {
    margin-top: 10px;
}

.result-intro {
    display: inline-block;
    font-size: 15px;
    padding: 0px;
    margin-right: 670px;
    margin-bottom: 0px;
}

.rating-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qna-list .main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 630px;
}

.qna-list .main-info h4 {
    display: inline-block;
    margin-right: 10px;
}

.qna-list .main-info p {
    margin-top: 25px;
    font-size: 14px;
    color: grey;
}

.qna-list .sub-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.qna-list .sub-info p {
    font-size: 13px;
    color: grey;
    margin-right: 150px;
}

.qna-list hr {
    margin: 0px;
    width: 860px;
    border-top: 1px solid;
}

.qna-solid-hr {
    display: flex;
    justify-content: center;
}

.qna-product {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 0px;
}

.qna-product li {
    margin: 10px 0px 10px 0px;
}

.qna-product .delivery {
    color: grey;
    margin-right: 150px;
    font-size: 14px;
}

.qna-product .category {
    margin-right: 300px;
    font-size: 14px;
}

.qna-product .is-completed {
    margin-right: 50px;
    font-size: 14px;
}

.qna-product .user {
    margin-right: 50px;
    font-size: 12px;
}

.qna-product .date {
    margin-right: 0px;
    font-size: 12px;
}

.qna-thin-hr {
    display: flex;
    justify-content: center;
}

.qna-thin-hr hr {
    border-width: thin;
    color: rgb(196, 196, 196);
}

.qna-list .page {
    margin-top: 30px;
}

.rating-write h5 {
    color: rgb(78, 78, 78);
    margin-bottom: 20px;
}

.rating-write textarea {
    font-size: 15px;
}

.rating-write button {
    margin-left: 92%;
}

.qna-write {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.qna-write h5 {
    color: grey;
}

.qna-write textarea {
    font-size: 15px;
}

.qna-write .btn {
    display: flex;
}

.qna-write button {
    margin-left: 580%;
}

.rating-write label {
    font-size: 15px;
    color: rgb(100, 100, 100);
    margin-bottom: 12px;
}

.rating-write input {
    height: 23px;
}

.rating-write input::placeholder{
    font-size: 14px;
    text-align: right;
}

.input-score {
    margin-left: 15px;
}

.page-bracket {
    color: rgb(150, 150, 150);
}